# == Github no sube estos archivos:

# Variables de entorno
.env

# Con los archivos package-lock.json y package.json
# se pueden instalar los modulos de Node.js.
# Son pesados así que también los ignoramos:
node_modules/
